body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Set minimum height of the body to the viewport height */
  font-family: din-2014, sans-serif; /* Specify the desired font family */
  font-size: 16px; /* Adjust the font size as needed */
  font-weight: normal; /* Specify the font weight */
  font-style: normal; /* Specify the font style */
}

/* Define the font style for specific elements if necessary */
.intro, .studio, footer {
  font-size: 18px; /* Example of adjusting font size for specific elements */
  margin-bottom: 10px;
}

.menu {
  background-color: rgb(249, 249, 249); /* Change background color to white */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a small shadow */
  color: #0c0b0b;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu ul li {
  float: left;
  padding: 20px 25px;
}

.menu ul li a {
  display: block;
  color: #0c0b0b;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: underline; /* Underline on hover */
}

main {
  flex: 1; /* Let the main content grow to fill available space */
}

.intro {
  text-align: center;
}

footer {
  background-color: #7f7b7b;
  color: white;
  text-align: center;
  padding: 20px;
  left: 0;
  
  width: 100%;
  
  bottom: 0;
  
}

.column {
  float: left;
  width: 50%;
  margin-top: 40px;
}

.studio {
  line-height: 2.5;
  margin-left: 50px;
  margin-right: 50px;
  text-align: justify;
}

.sub.column-left {
  float: left;
  width: 70%;
}

.sub.column-right {
  float: left;
  width: 30%;
  margin-left: 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.purple {
  color: #24a3d9;
}

.email {
  color: blanchedalmond;
}

.pulsante_mappa {
  background-color: #fdfdfd; /* Green */
  border: none;
  color: rgb(13, 13, 13);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-top: 10px;
}

/* Add hover effect for buttons */
.pulsante_mappa:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.262); /* Add a small shadow */
}

hr {
  border: none;
  border-top: 1px solid #5e6063; /* Add a solid black border on top to create the line */
  margin: 20px 0; /* Add some margin for spacing */
}

.regione {
  font-weight: bold;
  padding-top: 20px;
  background-color: #74d0f7;
  color: azure;
  text-align: center;
  font-size: xx-large;
}

.città {
  font-weight: bold;
  color: rgb(95, 94, 94);
  padding-top: 15px;
  font-size: large;
}

.colonna_centri {
  width: 50%;
  float: left;
  margin-left: 30%;
  margin-bottom: 10%;
}

.colonna_mappa {
  width: 50%;
  float: left;
  position: relative; /* Add position relative to the column */
  z-index: 1; /* Ensure it's above other elements */
  overflow: visible; /* Ensure it's not hidden or auto */
  height: 100%; /* Ensure the container has a height to enable scrolling */
  padding-left: 5%;
  
}

.mappa {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
   /* Adjust the top value according to your preference */
  z-index: 2; /* Ensure it's above other elements */
}


.tableizer-table {
  margin-top: 5%;
}
#icona {

  color: rgb(249, 213, 9);
  font-weight: bold;
}
#icona:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.167); /* Add a small shadow */
}


#icona ul li a {
  text-decoration: none; /* Remove underline from links */
}

.column_regioni {
  float: left;
  width: 20%;
}

.column_regioni ul li a {
  background-color: #fdfdfd; /* Green */
  border: none;
  color: rgb(13, 13, 13);
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  margin-top: 10px;
}
.column_regioni ul {
  list-style-type: none; /* Remove default list style */
}
.regione:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.262); /* Add a small shadow */
}
.column_c1, .column_c2 {
  width: 50%;
}
#footer_partecipa{
  position: fixed;
  bottom: 0;
}
.partecipa {
  margin-top: 3%;
  margin-left: 2%;

}